@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: azure;

}

.customTooltip * {
    color: #4a4a4a;
    font-size: 18px
}

.solution{
    height: 50vh;
    background: #010105;
    border: 2px solid rgba(255,255,255,0.06);
    display: flex;
    align-items: center;
    justify-content: center;

}

.solution-slide{
    border: 2px solid rgb(255, 255, 252, .1);
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, .04);
    flex-wrap: wrap;
}

.sol-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sol-buttons a{
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5a48f8;
    border-radius: 10px;
}

.sol-name{
    font-size: clamp(1.3rem,.8rem, .5rem);
    font-weight: 700;
}
.calculator-anim{
    width: 100px;
}

.calculator-anim img{
    width: 100%;
}

.pencil-anim{
    width: 100px;
}
.pencil-anim img{
    width: 100%;
}

body, html{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-y: hidden;
}
.logo{
    width: 180px;
}

.logo img{
    width: 100%;
}

.toggle-container{
    width: 70px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 40px;
    padding: 10px;
    position: relative;
}

.wheel{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1.5px;
    transition: .5s;
}

.wheel.transition{
    left: 35px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    transition: 1s;
    border: 1.4px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
}



.container{
    background-color: #010105;
    background-image: url(./studytime-logo-zip-file/png/bbblurry.svg);
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero{
    border: 1.5px solid rgba(255, 255, 255, .1);
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 20px;
}

.buttons{
    display: flex;
    gap: 30px;
}

box-icon{
    transition: .3s ease-out;
}

.buttons:hover box-icon{
    transform: translateY(3px);
}

.buttons a{
    border: 1px solid;
    padding: .6rem;
    text-decoration: none;
    display: flex;
    align-items: center;

}





.words{

    height: fit-content;
    position: relative;
}

.words .image1{
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 70%;
    left: -5%;
    animation: pop infinite 2s;
}

@keyframes pop{
    50%{
        top: 90%;
        left: -2%;
        transform: rotate(-15deg);
    }
}

.image1 img{
    width: 100%;
}

.image2 img{
    width: 100%;
}

.words .image2{
    width: 100px;
    height: 100px;
    transform: rotate(20deg);
    position: absolute;
    top: -50px;
    right: -5%;
    animation: bop 2s infinite;
    animation-delay: 1s;
}

@keyframes bop{
    50%{
        top: -47px;
    }
}

.hero .title{
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 700px;
    text-align: center;


}

/*-----LIGHT MODE--------*/

.container.lightmode{
    color: #010105;
    background-color: #F5F5F7;
}

.title.lightmode{
    color: #010105;
    font-weight: 700;
}

.headerButton.lightmode{
    border: 1.5px solid #010105;
    color: #010105;
}

.headerButton2.lightmode{
    border: 1.5px solid #010105;
    color: #010105;
}

/*-----LIGHT MODE END--------*/



.toggle-container{
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.books{
    height: fit-content;
    padding: 20px;
    background: #010105;
    
}

.books-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: hidden;
    gap: 10px;
}

.subject{
    border: 1.5px solid rgba(255, 255, 255, .2);
    min-height: 50vh;
    border-radius: 50px;
    padding: 25px 25px;
    transition: 1s;
}

.subject:hover .pattern img{
    transform: rotate(360deg);
}

.subject .titre{
    font-size: 1.5rem;
    font-weight: 700;
}

.level-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    min-height: 90%;
    margin-top: 10px;
}

.level{
    border: 1px solid rgba(255, 255, 255, .1);
    height: 60px;
    border-radius:3px;
    background: rgb(242, 242, 252, .03);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .1s ease;
    position: relative;
}

.level:hover{
    border: 1px solid rgba(255, 255, 255, .15);
    background: rgb(242, 242, 252, .05);
}

@media screen and (max-width: 1204px){

    .books-grid{
        grid-template-columns: 1fr;
    }

    .two{
        flex-direction: column;
    }

    .grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (max-width: 800px) {
    .image1, .image2{
 
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image1 img{
        width: 70%;
    }

    .image2 img{
        width: 70%;
    }

    .toggle-container{
        width: 50px;
        height: 25px;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 40px;
        padding: 10px;
        position: relative;
    }

    .wheel{
        width: 20px;
        height: 20px;
        border: 1px solid white;
        background: white;
        border-radius: 50%;
        position: absolute;
        left: 1px;
        top: 1.5px;
        transition: .5s;
    }
    
    .wheel.transition{
        left: 25px;
    }  

    .one{
        flex-direction: column;
    }

    .row.one .lside{
        width: 100%;
    }

    .row.one .rside{
        width: 100%;
    }

    .row.one .rside .question, .email{
        font-size: 18px;
    }

    .three{
        flex-direction: column;
    }

    .row.three .rsection{
        width: 100%;
    }

    .row.three .lsection{
        width: 100%;
    }

    .row.three .locate-text{
        font-size: 18px;
        width: 100%;
    }

    .row.three .map{
        width: 100%;
    }

    q{
        font-size: 16px;
    }

    .locate{
        flex-direction: column;
        justify-content: center;
    }
    
    .file{
        flex-direction: column;
        justify-content: flex-start;
    }



    
}




.level .icon{
    transform: rotate(-90deg);
}

.file{
    padding: 5px;
    border: .5px solid rgba(255, 255, 255, .3);
    transition: .2s ease;
    cursor: pointer;
    border-radius: 8px;
    color: #707076;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;

}

.file a{
    font-size: .9rem;
    color: #e3e3eb;
    text-decoration-line:underline;
}

.file.green{
    background-color: rgba(3, 192, 74, .1);
    min-height: fit-content;
    padding: 4px;
}

.file.blue{
    background: rgba(0, 150, 255, .1);
    min-height: fit-content;
    padding: 4px;
}

.file:hover{
    border: .5px solid rgba(255, 255, 255, .3);
}

.files{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, .4);
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 6px;
}

.files::-webkit-scrollbar{
    width: 10px;
}

.files::-webkit-scrollbar-track{
    background: #2d2d2f;
}

.files::-webkit-scrollbar-thumb{
    background: linear-gradient(#7316d7, #c416d7);
    border-radius: 10px;

}

.pattern{
    width: 35px;
}

.pattern img{
    width: 100%;
    transition: 1.4s;
}

.titre{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    background: rgba(255, 255, 255, .13);
}

.company{
    min-height: 85vh;
    color: #010105;
}

li img{
    width: 300px;
}

.developer{
    min-height: 100vh;
    background: #010105;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.gradient{
    background: linear-gradient(to top left,#40c9ff, #e81cff);
    height: 100%;
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.all-wrapper{
    height: 100%;
    width: 100%;
    background: #010105;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.lside, .rside{
    border: 2px solid rgba(255, 255, 255, .3);
    background-image: url(./images/png/PNGs/binding-dark.png);
    background-repeat: repeat;
}
.lside{
    width: 45%;
    min-height: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.rside{
    width: 55%;
    min-height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding: 10px;
}

.one{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.two{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 10px;
}

.pill{
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    background-image: url(./images/png/PNGs/binding-dark.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #c5c5db;
    gap: 10px;
    width: 100%;
}

.three{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
}

.lsection{
    width: 55%;
    border: 2px solid rgba(255, 255, 255, .3);
    height: 100%;
    border-radius: 10px;
    background-image: url(./images/png/PNGs/binding-dark.png);
    font-size: 2.6rem;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location {
    background: #2d2d2f;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.map{
    border: 1px solid;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

iframe{
    border-radius: 10px;
}

.locate{
    display: flex;
    gap: 10px;
}

.locate-text{
    width: 50%;
}



.rsection{
    min-height: 110%;
    width: 45%;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    background-image: url(./images/png/PNGs/binding-dark.png);
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

q{
    color: #707076;
}


.profile-pic{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(54, 212, 54);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: pulse 1s infinite ease;
}

@keyframes pulse{
    to{
        transform: scale(1.01);
    }
}

.profile-pic::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 1px;
    background: rgb(54, 212, 54);
    border: 2px solid black;
    border-radius: 50%;
}

.profile-pic::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(29, 87, 202);
    border-radius: 50%;
    z-index: -1;
    animation: pulsating 1s ease infinite;
}

@keyframes pulsating{
    from{
        opacity: 0.9;
    }
    to{
        transform: scale(1.4);
        opacity: 0.3;
    }
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.company-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #d7d7dc;
}

.company-name{
    color: #F5F5F7;
}

.describe{
    font-size: 1.6rem;
    font-weight: 600;
    color: #c5c5db;
}

.question{
    font-size: 2rem;
    font-weight: 700;
}

.email{
    padding: 15px;
    border-radius: 20px;
    background: orangered;
    font-size: 1.2rem;
}

.footer{
    background:#0b0a0a;
    min-height: 40vh;
}



.site a{
    text-decoration: none;
    transition: 1s ease;
}

.site a:hover{
    text-decoration: underline;
}

#pre-loader{
    height: 100vh;
    width: 100%;
    background: #191F26;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pre-loader img{
    width: 500px;
}



.item{
    border: 1px solid red;
    height: 100%;
    width: 100%;

}

.four{
    height: 40vh;
    width: 100vw;
    display: flex;

}

.pair{
    display: flex;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 100vw;
}

.grid-member{
    min-height: 270px;
    border: 2px solid rgba(255, 255, 255, .3);
    background: url(./images/png/PNGs/binding-dark.png);
    border-radius: 10px;
    padding: 10px;
}

.introduction .pic{
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction{
    display: flex;
    align-items: center;
    gap: 25px;
}

.role-played{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.role-played .names{
    font-size: 1.1rem;
}

.role-played .job{
    font-size: 1.3rem;
    font-weight: 700;
}

.pic img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}

.pic::before{
    content: '';
    position: absolute;
    background: rgb(236, 11, 168);
    min-height: 93px;
    min-width: 93px;
    z-index: -1;
    border-radius: 50%;
    
}

.body{
    font-size: 1.3rem;
    font-weight: 700;
    color: #c5c5db;
    margin-top: 10px;
}

.social box-icon{
    color: white;
}

.social{
    border: 1px solid red;
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, .13);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;
}

.social a{
    display: flex;
    align-items: center;
}

.social:hover{
    background: rgba(255, 255, 255, .13);
    cursor: pointer;
}

.socials{
    display: flex;
    border: 2px solid rgb(255, 255, 252, .1);
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .04);

}

.past-papers{
    min-height: 200vh;
    background: #010105;
    position: relative;
}

.containeur{
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.sujets{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

.sujet{
    height: 50vh;
    border-radius: 5px;
    position: relative;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .1);
}

.sujet::before, 
.sujet > .card-border
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: 2;
    opacity: 0;
    transition: opacity 100ms;
}

.sujet::before{
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.06), transparent 40%);
    z-index: 3;
}

.sujet > .card-border{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.3), transparent 40%);
    z-index: 1;
}

.sujet:hover::before{
    opacity: 1;
}

.sujet > .card-content {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: rgb(23, 23, 23);
    border-radius: inherit;
    position: relative;
    margin: 1px;
    z-index: 2;
}

.card-content{
    padding: 10px;
}

.past{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.des{
    font-size: 1.2rem;
    font-weight: 600;
}

.top-part{
    height: 36vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones{
    display: flex;
    gap: 45px;
}

.icone{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .05);
    flex-wrap: wrap;
}

.bottom-part{
    background: #010105;
    height: 4vh;
}

.trademark{
    text-align: center;
}

.files .right-section a{
    background:#5a48f8;
    padding: 4px;
    border-radius: 8px;
    font-size: .75rem;
    text-decoration: none;
}

.files .right-section{
    display: flex;
    gap: 12px;
}

.second-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.first-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.past-papers::before{
    position: absolute;
    content: 'Past Papers coming on 25th/02/2024';
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background: rgba(23, 23, 23, .4);
    backdrop-filter: blur(5px);
    z-index: 99;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer{
    background: #010105;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.timer .heading{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.anime{
    max-width: 400px;
}

.anime img{
    width: 100%;
}

